@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   font-family: 'Noto Sans Mandaic', sans-serif;
   font-family: 'Nunito Sans', sans-serif;
   font-family: 'Roboto', sans-serif;
}

